<div class="rendered-hero"></div>

<div class="simple-rating">
  <div class="simple-rating__items">
    <input id="simple-rating__5" class="simple-rating__item" type="radio" value="5" name="simple-rating">
    <label for="simple-rating__5" class="simple-rating__label"></label>
    <input id="simple-rating__4" class="simple-rating__item" type="radio" value="4" name="simple-rating">
    <label for="simple-rating__4" class="simple-rating__label"></label>
    <input id="simple-rating__3" class="simple-rating__item" type="radio" value="3" name="simple-rating">
    <label for="simple-rating__3" class="simple-rating__label"></label>
    <input id="simple-rating__2" class="simple-rating__item" type="radio" value="2" name="simple-rating">
    <label for="simple-rating__2" class="simple-rating__label"></label>
    <input id="simple-rating__1" class="simple-rating__item" type="radio" value="1" name="simple-rating">
    <label for="simple-rating__1" class="simple-rating__label"></label>
  </div>
</div>
